#!/bin/bash

save_path=${HOME}
log_path=${save_path}/video.log
log_format="%m/%d/%Y %X.%N %z"
config_path=${save_path}/my_libcamera-vid.config
record_interval=30000
record_width=1920
record_height=1080
record_name=video_part
record_format=%04d
record_extension=.h264
max_bytes_storage_threshold=5000000